<div class="main-body">
    @if(selectedCounty=='')
    {
    <app-county-selector (county)="onCountySelected($event)"></app-county-selector>
    }
    @else{
    <div class="top-bar">
        <div class="left-section">
            <span class="county-name">Județul: {{ selectedCounty }}</span>
            <button class="btn" (click)="selectedCounty = ''">Schimbă județul</button>
        </div>
        <div class="filter-area">
            @if(filters.profil.length){

            <div class="filter-box">
                <div class="text-area" (click)="showPartOfFilter('profiles')">
                    <span>Profiluri: {{ filters.profil.length }}</span>
                </div>
                <div class="close-area">
                    <div class="close-button" (click)="removeFilter('profiles')">×</div>
                </div>
            </div>
            }

            @if(filters.minMean)
            {
            <div class="filter-box">
                <div class="text-area" (click)="showPartOfFilter('mean')">
                    <span>Medie minimă: {{ filters.minMean }}</span>
                </div>
                <div class="close-area">
                    <div class="close-button" (click)="removeFilter('min-mean')">×</div>
                </div>
            </div>
            }

            @if(filters.minPromotionPercent)
            {
            <div class="filter-box">
                <div class="text-area" (click)="showPartOfFilter('promotion')">
                    <span>Promovare > : {{ filters.minPromotionPercent }}%</span>
                </div>
                <div class="close-area">
                    <div class="close-button" (click)="removeFilter('prom-minim')">×</div>
                </div>
            </div>
            }
        </div>
        <div class="sorting-area">
            @if(sortCriteria){
            <span>Sortare: {{ sortCriteria }}</span>
            }
        </div>
        <div class="right-section">
            <button class="btn" (click)="showFilter()">Filtrează</button>
            <button class="btn" (click)="showSort()">Sortează</button>
        </div>
    </div>
    @if(showSortModal)
    {
    <div class="modal">
        <div class="modal-content">
            <h3>Sortare</h3>
            <label><input type="radio" name="sort" value="bac-asc" (change)="applySort('medie bac crescător')"> Medie
                BAC ↑</label>
            <label><input type="radio" name="sort" value="bac-desc" (change)="applySort('medie bac descrescător')">
                Medie BAC ↓</label>
            <label><input type="radio" name="sort" value="prom-asc"
                    (change)="applySort('rata promovabilitate crescător')"> Promovabilitate
                ↑</label>
            <label><input type="radio" name="sort" value="prom-desc"
                    (change)="applySort('rata promovabilitate descrescător')"> Promovabilitate
                ↓</label>
            <label><input type="radio" name="sort" value="alpha-asc" (change)="applySort('alfabetic crescător')">
                Alfabetic
                ↑</label>
            <label><input type="radio" name="sort" value="alpha-desc" (change)="applySort('alfabetic descrescător')">
                Alfabetic
                ↓</label>

            <button class="btn" (click)="showSortModal = false">Închide</button>
        </div>
    </div>
    }
    @if(showFilterModal){
    <div class="modal">
        <div class="modal-content">
            @if( showOnlyMean==false && showOnlyPromRate==false)
            {
            <h3>Filtrare</h3>

            <label>Profil:</label>
            <div class="profile-zone">
                @for( p of availableProfiles; track $index)
                {
                <label>
                    <input type="checkbox" [value]="p" [checked]="filters.profil.includes(p)"
                        (change)="onProfileCheckboxChange($event, p)" />
                    {{ p }}
                </label>
                }
            </div>
            }

            @if(showOnlyProfiles==false &&showOnlyPromRate==false)
            {
            <label>Medie minimă:</label>
            <input type="number" [(ngModel)]="filters.minMean" min="0" max="10" step="0.1" />
            }

            @if(showOnlyProfiles==false && showOnlyMean==false)
            {
            <label>Promovabilitate minimă (%):</label>
            <input type="number" [(ngModel)]="filters.minPromotionPercent" min="0" max="100" step="1" />
            }

            <div class="modal-actions">
                <button class="button" style="background-color: rgb(45, 107, 30);"
                    (click)="applyFilters()">Aplică</button>
                <button class="button" style="background-color: rgb(97, 22, 22);"
                    (click)="resetFilters()">Reset</button>
                <button class="button" (click)="closeFilterModal()">Închide</button>
            </div>
        </div>
    </div>
    }

    <div class="high-schools-list">
        @for(s of showHighschools; track $index)
        {
        <app-high-school-card [stats]="s" (click)="openStatsModal(s)"></app-high-school-card>
        }
    </div>
    <button class="home-button" (click)="navigateHome()">
        <i class="fa fa-home"></i>
    </button>
    }

    @if(showStatsModal && selectedHighschool) {
    <app-individual-stats [highschool]="selectedHighschool" [county]="selectedCounty" (closeModal)="closeStatsModal()">
    </app-individual-stats>
    }
    @if(showLoader)
    {
    <app-loader></app-loader>
    }
</div>