<div class="page">
  <div class="left">
    <h2>AILiceu</h2>
    <p>O platformă care te ajută să alegi un liceu în mod inteligent</p>
  </div>
  <div class="right">
    <div class="main-card">
      <div class="upper-part">
        <h2>Cu ce te putem ajuta?</h2>
      </div>
      <div class="bottom">
        <div class="feature-card">
          <h3 class="feature-title">Statistici BAC</h3>
          <p class="feature-description">
            Statisticile liceelor privitoare la promovabilitate și medie BAC
          </p>
        </div>
        <div class="feature-card">
          Medii admitere licee
        </div>
        <div class="feature-card">
          Vezi recomandarea de liceu
        </div>
      </div>
    </div>
  </div>
</div>