$background-color: #ecfcff;
$main-card-left-margin: 3%;

.page {
  margin: 0;
  background-color: $background-color;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.left {
  width: 40%;
  height: 100%;
}

.right {
  width: 60%;
  height: 100%;
}

.main-card {
  position: relative;
  width: 80%;
  margin-left: 10%;
  height: 70%;
  margin-top: 11%;
  border-radius: 12px;
  background-color: rgba(181, 179, 179, 0.245);
  display: flex;
  flex-direction: column;
  border: black;
}

.upper-part {
  height: 10%;
  width: 100%;
  background-color: rgb(22, 91, 132);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  display: flex;
  align-items: center;

  h2 {
    margin-left: $main-card-left-margin;
    font-size: 30px;
  }
}

.bottom {
  height: 90%;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}


.feature-card {
  background-color: ghostwhite;
  height: 25%;
  width: calc(100% - 2*$main-card-left-margin);
  color: black;
  border-radius: 10px;
  margin-left: $main-card-left-margin;


  .feature-title,
  .feature-description {
    margin-left: 2%;
  }

  .feature-title {
    font-size: 26px;
    font-weight: bold;
    color: #163b5c;
    margin-top: 10px;
  }

  .feature-description {
    margin-top: 0;
    font-size: 18px;
    color: #555;
    
  }
}

.feature-card:hover {
  background-color: gray;
}

.description{
  color: black;
  width: 90%;
  margin-left: 10%;
  height: 70%;
  margin-top: 20%;

  .app-title{
    font-size: 30px;
    margin: 0;
    margin-bottom: 10px;
  }
  .description-text{
    margin:0;
    font-size: 16px;
    color: grey;
    text-indent: 20px;
  }
}