<div class="highschool-page">
  <div class="form-side">
    <div class="form-wrapper">
      <button class="home-button" (click)="navigateHome()" type="button">
        <i class="fa fa-home"></i>
      </button>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h2>Admitere Liceu</h2>

        <label for="county">Județ*</label>
        <select id="county" formControlName="county">
          <option value="" disabled>Selectează județul</option>
          @for (c of counties; track c.value) {
          <option [value]="c.value">{{ c.label }}</option>
          }
        </select>
        @if (countyControl?.touched && countyControl?.invalid) {
        <div class="form-error">Selectează un județ.</div>
        }

        <label for="year">An*</label>
        <select id="year" formControlName="year" [disabled]="!years.length">
          <option value="" disabled>Selectează anul</option>
          @for (year of years; track year) {
          <option [value]="year">{{ year }}</option>
          }
        </select>
        @if (yearControl?.touched && yearControl?.invalid) {
        <div class="form-error">Selectează un an.</div>
        }

        <label for="grade">Notă*</label>
        <p-inputNumber
          id="grade"
          formControlName="grade"
          [min]="1"
          [max]="10"
          mode="decimal"
          [step]="0.01"
          inputStyleClass="custom-input"
        ></p-inputNumber>
        @if (gradeControl && gradeControl.touched && gradeControl.errors) {
        <div class="form-error">
          @if (gradeControl.errors['required']) { Introdu nota. } @if
          (gradeControl.errors['min']) { Nota trebuie să fie cel puțin 1. } @if
          (gradeControl.errors['max']) { Nota nu poate fi mai mare de 10. }
        </div>
        }

        <label for="delimiter">Media generală (opțional)</label>
        <p-inputNumber
          id="delimiter"
          formControlName="delimiter"
          inputStyleClass="custom-input"
        ></p-inputNumber>

        <button
          pButton
          type="submit"
          label="Calculează"
          class="submit-button"
        ></button>
        <button class="chart-button" (click)="goToRanker()" type="button">
          Vezi evoluția ultimului admis
        </button>
        <button class="chart-button" type="button">
          Vezi gradul de ocupare
        </button>
      </form>
    </div>
  </div>
  <div class="cards-side">
    @if(specializationGroups.length>0){
    <div class="toggle-area">
      <div class="sort-buttons">A</div>
      <div class="toggle-zone">
        <label for="showOccupancy">Afișează grad ocupare</label>
        <label class="switch">
          <input
            type="checkbox"
            [checked]="showOccupancy"
            (change)="onToggleChange()"
          />
          <span class="slider"></span>
        </label>
      </div>
    </div>
    }
    <div class="card-section">
      <div class="card-section-wrapper">
        <div class="card-container">
          @for (group of specializationGroups; track group.id) {
          <app-school-card
            [specialization]="group"
            [showOccupationRate]="showOccupancy"
            [occupationRate]="
              occupationRate[group.school + group.specialization]
            "
          ></app-school-card>
          }
        </div>
      </div>
    </div>
  </div>
</div>
